:root {
    --wmu: #F1C500;
    --black: #000000;
    --comment-bg: #dceefb;
    --header-color: #333;
    --footer-color: #555;
    --font-color: #f8f8f8;
    --border-color: #00abf0;
    --background-color: #081b29;
    --box-border-color: #5467858d;
    --border-hover-color: #5ad0ff;
    --nav-menu-background: #081b29;
    --background-light-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins';
    box-sizing: border-box;
    scroll-snap-align: smooth;
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
span {
    font-weight: 600;
    color: var(--border-color);
}
.line {
    width: 7rem;
    height: 1px;
    margin: auto;
    background-color: var(--border-color);
}


/* ================= spinner ================= */
.spin-parent {
    background-color: var(--background-light-color);
    width: 100%;
    height: 110%;
    position: fixed;
    display: block;
    text-align: center;
    margin-top: -3rem;
    z-index: 1000000000000;
}
.spin-parent2 {
    position: relative;
    margin: 20rem auto;
    text-align: center;
  }
.spinner {
    margin: auto;
    opacity: 1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border: 2px solid var(--header-color);
    border-bottom: 2px solid var(--wmu);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-text {
    color: black;
    padding-top: 5px;
    font-size: 0.7rem;
}
/* ================= all heading/navbar ================= */

.nav-section {
    padding: 15px ;
    color: var(--font-color);
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
}

.nav-section .logo {
    text-align: center;
}
.nav-section nav {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    display: flex;
}

.nav-section nav ul {
    padding: 0;
    list-style: none;
}
.nav-section nav ul li {
    margin: 0 15px;
    display: inline;
}
.nav-section nav ul li a {
    color: var(--font-color);
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
}
.hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--font-color);
    transition: all 0.5s ease-in-out;
}
.hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform:  translateY(-10px) rotate(-45deg);
}

@media (max-width: 768px){
    .hamburger {
        display: flex;
    }
    .nav-section .off-screen-menu { /* the nav items*/ 
        top: 0;
        width: 100%;
        height: 110%;
        position: fixed;
        justify-content: center;
        right: -100%;
        transition: 0.5s ease-in-out;
        background-color: var(--background-color);
    }
    .nav-section .off-screen-menu .nav-menu {
        display: flex;
        gap: 50px;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .nav-section .off-screen-menu.active {
        right: 0;
    }

}

/* ================= all main content ================= */
main {
    padding: 20px;
    text-align: center;
    margin-bottom: 3rem;
}

.all-titles { /* for the all titles  */
    padding: 20px;
    margin-bottom: 20px;
    color: var(--background-color);
    background-color: var(--font-color);
}
.all-titles p {
    margin-top: 2rem;
}

.about, .gallery, .contact {
    margin-bottom: 20px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-images img {
    margin: 10px;
    max-width: 200px;
}


/* =================  Home page section ================= */
.activity-parent {
    width: 100%;
}
.each-day {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.day-txt {
    border-radius: 5px;
}
.activity-content {
    display: flex;
    flex-wrap: wrap;
}
.daily-activities {
    width: 15rem;
    height: auto;
    padding: 5px;
    text-align: justify;
    font-size: 0.8rem; 
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.daily-img {
    margin: auto;
    display: block;
    width: 100%;
    height: 11rem;
    max-width: 700px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 8px;
}

/* =================  Journey section ================= */
.learn-desc {
    width: 85%;
    margin: auto;
}
.learning {
    display: block;
    width: 90%;
    margin: auto;
}

.learn-section {
    text-align:justify;
    width: 85%;
    margin: 1rem auto;
}
.learn-section h2 {
    margin-top: 1.5rem;
    border-bottom: 2px solid #eee;
}
.learn-section p {
    margin-top: 7px;
}
.learn-section ul {
    padding: 0;
    margin-left: 20px;
}
.last-p {
    margin-top: 10px;
}

/* =================  Journey section ================= */
.headings .title {
    margin-top: -7rem;
    margin-bottom: 1rem;
}
.sa-desc {
    gap: 20px;
    display: flex;
}
.sa-desc .journey-desc {
    text-align: justify;
}

.sa-desc .td-img img {
    width: 25rem;
    height: 15.5rem;
    border-radius: 5px;
}

/* ================= thanks section styling ================= */

.staff {
    margin: auto;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
}
.staff .each-staff {
    width: 15rem;
    height: auto;
    display: block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}
.staff .each-staff:hover {
    transform: translateY(-5px);
}
.staff .each-staff img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}
.staff .each-staff .position-txt {
    margin-bottom: 0.5rem;
}
.staff a {
    border-radius: 25px;
    padding: 1.5px 10px;
    color: var(--font-color);
    background-color: var(--border-color)
}
/* ================= contact section styling ================= */
.heading-line {
    text-align: center;
}
.heading-line h1 {
    font-size: 3rem;
}
#head-line {
    margin-top: 5rem;
    text-align: center;
    align-items: center;
}

#head-line h1 {
    font-size: 2rem;
}
.row {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
}

.row .col {
    width: 15rem;
    padding: 1rem;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    border: 2px solid var(--box-border-color);
    z-index: -10000;

}
.row .col:hover {
    transform:translateY(-5px)
}
.col .icons i {
    font-size: 4rem;
    transition: 0.5s ease;
    color: var(--background-color);
}

.row .col h1 {
    font-size: 1rem;
}
.contact-div {
    margin-bottom: 5rem;
}
.links-list {
    list-style: none;
}

/* ================= gallery section styling ================= */

.experiences {
    text-align: center;
}
.experiences .heading-line {
    text-align: center;
}
.card-parent {
    gap: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 5px; 
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}

.thumbnail {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;

}
.modal {
    top: 0;
    left: 0;
    z-index: 1000000; 
    width: 100%; 
    height: 100%; 
    display: none; 
    overflow: auto; 
    position: fixed; 
    padding-top: 60px; 
    background-color: var(--background-color)
}
.modal-content {
    margin: auto;
    margin-top: 4rem;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #bbb;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    cursor: pointer;
}
/* ================= feedbacks section ================= */
.feedbacks, .professor {
    width: 100%;
    margin-bottom: 3rem;
}
.each-experience {
    margin: auto;
    margin-top: 1rem;
    display: block;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: var(--comment-bg);
    color: var(--black);
}
.bothAE {
    display: block;
}
.bothAE .exp-txt { 
    padding-top: 1rem;
}
.bothAE h3 {
    text-align: left;
    margin-left: 10px;
}
.exper {
    padding: 25px;
    text-align:justify;

}
.exper  p {
    width: 100%;
    margin-top: -1rem;
}




/* ================= all page footer section ================= */

.footer {
    bottom: 0;
    width: 100%;    
    display: flex;  
    padding: 1rem;
    text-align: center;
    flex-direction: column; 
    color: var(--font-color);  
    background-color: var(--background-color);
}
.footer-txt {
    text-align: center;
}

.links {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -5rem;
    padding-top: 7rem;
    justify-content: center;
}

.links .each-link {
    width: 3rem;
    height: 3rem;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    border: 1px solid var(--background-light-color);
}

.links .each-link:hover {
    transform: translateY(-5px);
    border: 1px solid var(--border-color);
}

.link-icon {
    display: flex;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
}

.link-icon:hover {
    color: var(--border-color);
}





/* =======================All Media Sizes======================== */
/* ============================================================== */

@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* Styles for large devices */
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    /* Styles for medium devices */
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    /* Styles for small devices */
} 

@media (max-width: 575.98px) { 
    main {  /* Styles for extra small devices */
        padding: 5px;
        margin-bottom: 2rem;
    }
    
    .all-titles { /* for the all titles  */
        padding: 10px;
        margin-bottom: 20px;
    }
    .all-titles h1 {
        font-size: 2rem;
    }
    .all-titles p {
        margin-top: 2rem;
        text-align: justify;
    }
    .card-parent {
        gap: 0.3rem;
    }
    .card {
        width: 8rem;
        height: 6rem;
    }
    .feedbacks, .professor {
        width: 95%;
        margin: auto;
    }
    .each-experience {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .daily-activities {
        width: 95%;
        height: auto;
    }
    .daily-img {
        height: auto;
    }
    
}
