.projects, .contact {
    display: none;
}

.projects, .contact{
    margin-top: -10rem;
}
.about-link {
    color: #00abf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: #f8f8f8;
    scroll-snap-align: smooth;
    font-family: 'Poppins';
}

body {
    background-color: #263042;
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.6rem;
}

main {
    min-height: 100vh;
    width: 85%;
    margin: auto auto;
    padding: 10rem 15rem 0 15rem;
    z-index: 100;
}

/* ================= all heading ================= */
.heading {
    font-size: 4rem;
    margin-top: 4rem;
}

.line {
    margin: auto auto;
    margin-top: -4.5rem;
    margin-bottom: 4rem;
    width: 10rem;
    height: 0.01rem;
    background-color: #00abf0;
}

/* ================= nav bar ================= */
nav {
    position:sticky;
    height: 7rem;
    width: 100%;
    background-color: #263042;
    z-index: 100000;
}


.logo {
    width: 4rem;
    height: 3rem;
    margin: 2.5rem 0 0 10rem;
    cursor: pointer;
}

nav ul {
    float: right;
    margin: 3rem 5rem auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    height: 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 1px 2rem;
    z-index: 1;
    overflow: hidden;
}
.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: #0d8fc2;
    transition: 0.5s;
}
.nav-link:hover::before {
    width: 100%;
}
.nav-link:hover {
    cursor: pointer;
}


#menu-icon {
    font-size: 3.6rem;
    line-height: 7rem;
    margin-right: 2rem;
    float: right;
    display: none;
}

.exit-icon {
    font-size: 3rem;
    top: 0;
    float: right;
    display: none
}

/* =================  Home section ================= */
.home {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-home {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 1rem auto;
    gap: 2rem;
}

.main-home img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 0.5rem solid #00abf0;
}
.main-home h1 {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-home .wmu {
    font-size: 2.5rem;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}
span {
    color:  #00abf0;
    font-weight: 600;
}
.about-me {
    font-size: 3rem;
    cursor: pointer;
    border-radius: 1rem;
}
.about-btn {
    margin: 0rem auto;
    margin-bottom: 5rem;
}
.intro-bio {
    line-height: 3.5rem;
    font-weight: 100;
    margin: 0 auto;
    width: 85%;
    text-align: justify;
    align-items: center;
    padding: 1rem auto;
    color: #e8e8e8;
}

.social-media, .resume {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #a3a3a3;
    border-radius: 50%;
    font-size: 2rem;
    margin: 0rem 1.5rem 1rem 0;
    transition: width 0.5s, height 0.5s, transform 0.5s ease;
}

.social-media a:hover {
    background-color: #00abf0;
    transform: scale(1.05);
}


.btn, .main-intro .download {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    margin-top: 3rem;
    width: auto;
    font-size: 1.5rem;
    color: #f8f8f8;
    border-radius: 0.5rem;
    background-color: #00abf0;
    z-index: 1;
    overflow: hidden;
}
.main-intro .download::before, .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #0d8fc2;
    transition: 0.5s;
    z-index: -1;
}
.main-intro .download:hover::before, .btn:hover::before{
    width: 100%;
}

/* ================= skills section styling ================= */
.skills h1, .projects h1, .contact h1 {
    padding-top: 4rem;
    margin-bottom: 5rem;
    padding: 1rem auto;
}

.python, .js, .php, .jq, .bootstr {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-color: #00abf0;
    border-radius: 50%;
    font-size: 5rem;
    transition: 0.5s ease;
}

.row {
    margin: auto auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0.5rem 1rem;
    padding: 15px;
    width: 14rem;
    height: 13rem;
    border: 0.2rem solid #5467858d;
    border-radius: 0.5rem;
    background-color: #2d38498d;
    transition: width 0.5s, height 0.5s, transform 0.5s ease;
}

.col::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #42536c8d;
    transition: 0.5s;
    z-index: -1;
}

.col:hover::before {
    width: 100%;
}
.col h1 {
    margin-top: -3rem;
}

/* ================= projects section styling =================  */

.proj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.proj-container .proj-box {
    width: 33rem;
    background-color: #2d38498d;
    border-radius: 0.5rem;
    text-align: center;
    border: 0.2rem solid #5467858d;
}

.proj-box img {
    width: 30rem;
    height: 20rem;
    border-radius: 0.5rem;
    margin-bottom: -5rem;
    margin-top: 1.4rem;
}

.proj-box h1 {
    font-size: 3rem;
    width: 90%;
    margin: 1.5rem auto;
    text-align: left;
}

.proj-box p {
    width: 90%;
    font-size: 1.6rem;
    margin: 1rem auto;
    text-align: left;
}

.langs {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.langs h3 {
    width: 8rem;
    padding: 1.5rem 0 1.5rem 0;
    background-color:#00abf0;
    margin: 1rem 1rem;
    border-radius: 1rem;
}

/* ================= contact section styling ================= */
.contact .contact-title {
    margin-top: 5rem;
}
.row .contact-col {
    margin: 5px 10px;
    padding: 2rem;
    max-width: 25rem;
    min-width: 23rem;
    height: 150px;
    border: 0.2rem solid #5467858d;
    border-radius: 0.5rem;
    background-color: #2d38498d;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0.5rem 1rem;
}
.row .contact-col::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #42536c8d;
    transition: 0.5s;
    z-index: -1;
}
.row .contact-col:hover::before {
    width: 100%;
}
#msg-disp {
    margin-bottom: 2rem;
}

.contact-col h1 {
    margin-top: -2.7rem;
    transform: scale(1.02);
}
.data-col {
    gap: 25px;
    margin-bottom: 0rem;
}
.input-col {
    width: 27rem;
    position: relative;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
}
.inputBox {
    position: relative;
}
.txt-area {
    height: 17.3rem;
    resize: none;
    padding: 2rem;
}
.data, .txt-area {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #5467858d;
    background-color: #263042;
    transition: width 0.5s, height 0.5s, transform 0.5s ease;
}
.inputBox label {
    font-size: 1.4rem;
    position: absolute;
    left: 12px;
    top: 20px;
    transition: 0.2s;
    color: #fff;
    background-color: #263042;
    pointer-events: none;
}

.inputBox input:valid ~ label, .inputBox input:focus ~ label,
.inputBox textarea:valid ~ label, .inputBox textarea:focus ~ label {
    top: -2px;
    left: 7px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.main-row {
    padding-bottom: 3rem auto;
}


/* ========== footer section styling ========= */
.footer {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 2rem;
    bottom: 0;
}

.footer .footer-social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 2rem auto 0 auto;
    padding-left: 1.3rem;
}
.footer .footer-social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #a3a3a3;
    border-radius: 50%;
    font-size: 2rem;
    margin: 0rem 1.5rem 1rem 0;
    transition: width 0.5s, height 0.5s, transform 0.5s ease;
}

.footer-social-media a:hover {
    background-color: #00abf0;
    transform: scale(1.05);
}

/* ##################################### */
/* ---------responsive styling---------- */
/* ##################################### */
@media (max-width: 1200px) {
    .row .contact-col {
        max-width: 33rem;
        min-width: 33rem;
    }
}

@media (max-width: 1024px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .logo {
        width: 3rem;
        height: 2.2rem;
        margin: 2.1rem 0 0 3rem;
    }
    nav ul li a {
        font-size: 16px;
    }

    main {
        width: 80%;
        margin: 0 auto;
        padding: 10rem 2rem;
    }

    .main-home img {
        margin-top: -5rem;
    }
    .main-home h1 {
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }
    
    .main-home .wmu {
        font-size: 2rem;
    }    
    .intro-bio {
        padding: .8rem .8rem;
    }

    .projects h1 {
        padding-top: 2rem;
    }
    .row .contact-col {
        width: 30rem;
    }
    .row .contact-col h1 {
        font-size: 2rem;
    }
    .main-row {
        margin-bottom: -3rem;
    }
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .logo {
        width: 3rem;
        height: 2.2rem;
        margin: 2.1rem 0 0 3rem;
    }
    nav ul li a {
        font-size: 16px;
    }

    main {
        width: 80%;
        margin: 0 auto;
        padding: 10rem 2rem;
    }

    .main-home img {
        margin-top: -5rem;
    }
    .main-home h1 {
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }
    
    .main-home .wmu {
        font-size: 2rem;
    }    
    .intro-bio {
        padding: .8rem .8rem;
    }

    .projects h1 {
        padding-top: 2rem;
    }
    .main-row {
        margin-bottom: -3rem;
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .nav-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #263042;
        top: 7; 
        left: -100%;
        text-align: center;
        padding-top: 10rem;
        transition: all .3s ease;
    }
     .nav-menu .exit-icon {
        top: 0;
     }
     .nav-menu li {
        display: block;
        margin: 5rem auto;
     }
     .nav-link:hover::before {
        width: 0;
    }
     .nav-link.hover, .nav-link.active {
        color:#00abf0;
     }
    .nav-menu.active {
        left: 0;
     }
     .row .contact-col {
        width: 33rem;
    }
    .input-col {
        width: 33rem;
        position: relative;
    }
    .data, .txt-area {
        max-width: 33rem;
    }
    .btn {
        margin-top: 0.2rem;
        width: 33rem;
    }
     .footer .footer-social-media {
        margin-left: 2%;
    }
}
/* -----------for cell phones----------- */
@media (max-width: 480px) {
    main {
        width: 100%;
        margin: 0 auto;
        padding: 10rem 2rem;
    }
    .logo {
        width: 3rem;
        height: 2.2rem;
        margin: 2.1rem 0 0 3rem;
    }
    #menu-icon {
        margin-right: 2.5rem;
    }

    .main-home img {
        margin-top: -5rem;
    }
    .main-home h1 {
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }
    
    .main-home .wmu {
        font-size: 1.6rem;
    }
    .intro-bio {
        padding: .8rem .8rem;
    }

    .projects h1 {
        padding-top: 4rem;
    }
 
    .row .contact-col {
        max-width: 33rem;
        min-width: 33rem;
    }
    .input-col {
        width: 33rem;
        position: relative;
    }
    .data, .txt-area {
        max-width: 33rem;
    }
    .btn {
        margin-top: 0.2rem;
        width: 33rem;
    }
    .main-row {
        margin-bottom: -3rem;
    }

    .data:hover, .txt-area:hover, .btn:hover {
        transform: scale(1);
    }

    .footer {
        margin-top: -2rem;
        padding-bottom: 1rem;
    }
    .footer .footer-social-media {
        margin: 0 auto;
    }
}
