:root {
    --background-color: #081b29;
    --background-light-color:#f9f9f9;
    --border-color: #00abf0;
    --border-hover-color: #5ad0ff;
    --wmu: #F1C500;
    --font-color: #f8f8f8;
    --box-border-color: #5467858d;
    --nav-menu-background: #081b29;
}
.projects, .contact, .social-media {
    display: none;
} 
.projects, .contact{
    margin-top: -10rem;
}
.about-link {
    color: #00abf0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--font-color);
    scroll-snap-align: smooth;
    font-family: 'Poppins';
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background: var(--background-color);
}

html {
    font-size: 62.5%;
}
p {
    font-size: 1.6rem;
}
/* ================= all heading lines ================= */
.line {
    margin: auto auto;
    margin-top: -4.5rem;
    margin-bottom: 4rem;
    width: 10rem;
    height: 0.01rem;
    background-color: var(--border-color);
}


/* ================= spinner ================= */
.spin-parent {
    background-color: var(--background-light-color);
    width: 100%;
    height: 110%;
    position: fixed;
    display: block;
    text-align: center;
    margin-top: -3rem;
    z-index: 1000000000000;
}
.spin-parent2 {
    position: relative;
    margin: 20rem auto;
    text-align: center;
  }
.spinner {
    margin: auto;
    opacity: 1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border: 2px solid var(--header-color);
    border-bottom: 2px solid var(--wmu);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-text {
    color: black;
    padding-top: 5px;
    font-size: 0.7rem;
}
/* ================= nav bar ================= */
nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding: 3rem;
    display: flex;
    z-index: 10000;
}
.logo {
    width: 3rem;
    height: 2.3rem;
    margin-left: 3rem;
    cursor: pointer;
}
nav ul {
    float: right;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.each-list {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    margin: auto 2rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: var(--border-color);
    transition: 0.5s;
}
.nav-link:hover {
    transform: translateY(-3px);
}
.nav-link:hover::before {
    width: 100%;
}
.nav-link:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
}
.hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--font-color);
    transition: all 0.5s ease-in-out;
}
.hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform:  translateY(-10px) rotate(-45deg);
}
/* =================  Home section ================= */
.home {
    height: auto;
    overflow-y: auto;
    width: 60%;
    margin: auto;
    margin-top: 0rem;
    padding: 10rem 7rem;
    border-radius: 10px;
}
::-webkit-scrollbar { /* hide the scroll-bar */
    display: none;
}
.main-intro {
    width: 100%;
}
.main-home {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pic-name {
    display: flex;
    margin-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: .1px solid var(--box-border-color);
}
.main-home img {
    width: 15rem;
    height: 14.8rem;
    margin-left: 5rem;
    border-radius: 50%;
    margin-top: -2rem;
    border: 0.3rem solid var(--border-color);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.main-home img:hover {
    transform: translateY(-3px);
}
.name-college {
    padding-left: 2rem;
}
.name-college h2 {
    margin-top: 3rem;
    text-align:left;
    font-size: 1.7rem;
}
.name-college h1 {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: bold;
    text-align:left;
}
.name-college .wmu {
    font-size: 1.7rem;
    align-items: left;
}
span {
    color: var(--border-color);
    font-weight: 600;
}
#wmu {
    color: var(--wmu);
}
/* social media links */
/* parent div */
.links-div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: -5rem;
}
/* each link div */
.links-div .each-link {
    width: 15rem;
    height: 15rem;
    border: 0.2rem solid var(--box-border-color);
    border-radius: 0.7rem;
    transition: transform 0.3s ease;
}
.links-div .each-link:hover {
    transform: translateY(-5px);
}
#ic {
    color: var(--border-color);
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    font-size: 7rem;
}
.each-link .url .sub {
    font-size: 1.6rem;
}
#network-line {
    margin-top: 0.1rem;
}
.about-me {
    font-size: 3rem;
    cursor: pointer;
    border-radius: 1rem;
}
.intro-bio {
    line-height: 3.5rem;
    font-weight: 100;
    margin-top: 4rem;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    padding: 1rem auto;
}
.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    margin: 3rem auto;
    width: auto;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--border-color);
}
.btn:hover{
    background-color: var(--border-hover-color);
}
/* ================= skills section styling ================= */
.skills h1, .projects h1, .contact h1 {
    padding-top: 4rem;
    font-size: 2rem;
    margin-bottom: 5rem;
    padding: 1rem auto;
    text-align: center;
}
#headings {
    font-size: 5rem;
    text-align: center;
}
.icons {
    text-align: center;
}
.icons i {
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
    transition: 0.5s ease;
}
.row {
    margin: auto auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.col {
    display: inline-block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 0.5rem 1rem;
    padding-top: 15px;
    width: 14rem;
    height: 13rem;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid var(--box-border-color);
    border-radius: 0.5rem;
    background-color: transparent;
    transition: transform 0.3s ease;
}
.col:hover {
    transform: translateY(-10px);
}
.col h1 {
    margin-top: -3rem;
}

/* ================= projects section styling =================  */
.proj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}
.proj-container .proj-box {
    width: 33rem;
    background-color: transparent;
    border-radius: 0.5rem;
    text-align: center;
    border: 0.2rem solid var(--box-border-color);
}
.proj-box img {
    width: 30rem;
    height: 20rem;
    border-radius: 0.5rem;
    margin-bottom: -5rem;
    margin-top: 1.4rem;
}
.proj-box h1 {
    font-size: 3rem;
    width: 90%;
    margin: 1.5rem auto;
    text-align: center;
}
.proj-box p {
    width: 90%;
    font-size: 1.6rem;
    margin: 1rem auto;
    text-align: left;
}
.langs {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.langs h3 {
    width: 8rem;
    padding: 1.5rem 0 1.5rem 0;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--box-border-color);
    transition: transform 0.3s ease;
}
.langs h3:hover {
    transform: translateY(-3px);
}
/* ================= contact section styling ================= */
.contact {
    width: 100%;
    text-align: center;
}
.contact .contact-title {
    margin-top: 5rem;
}
.row .contact-col {
    margin: 5px auto; 
    padding: 2rem; 
    width: 22rem;
    height: 130px;
    border: 0.2rem solid var(--box-border-color);
    border-radius: 0.5rem;
    background-color: transparent;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    margin: 0.5rem 1rem;
    transition: transform 0.3s ease;
}
.row .contact-col:hover {
    transform:translateY(-5px)
}

#msg-disp {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}
.contact-col h1 {
    font-size: 1.5rem;
    margin-top: -2.7rem;
    transform: scale(1.02);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--font-color);
}
/* the input fields */
#input-col {
    display: block;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: -3rem;
}
.input-col {
    display: block;
}
.data, .txt-area {
    padding: 10px;
    width: 65%;
    margin: 0.7rem auto;
    box-sizing: border-box;
    outline: none;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--box-border-color);
    background-color: transparent;
    transition: width 0.5s, height 0.5s, transform 0.5s ease;
}
.txt-area {
    height: 13rem;
    resize: none;
}
/* ##################################### */
/* ---------responsive styling---------- */
/* ##################################### */
@media (max-width: 1280px) {
    .home {
        height: auto;
        margin-top: 0rem;
        width: 80%;
        padding: 7rem 1rem;
    }
    .name-college h1 {
        margin-top: 2rem;
        font-size: 4rem;
    }
    .main-intro {
        width: 90%;
        margin: auto;
        margin-top: -4rem;
    }
    .intro-bio {
        width: 100%;
    }
    .skills h1, .projects h1, .contact h1 {
        padding-top: 1rem;
    }
    #headings {
        font-size: 4rem;
    }
    .icons {
        margin-bottom: 3.5rem;
    }
    .icons i {
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }
    .col h1 {
        font-size: 2rem;
    }
    .projects, .contact {
        margin-top: -4rem;
        width: 70%;
        margin: auto;
    }
    .proj-box h1 {
        margin-top: 5rem;
    }
    .contact {
        width: 100%;
    }
    .cont-row {
        width: 100%;
    }
    .row .contact-col {
        width: 30rem;
    }
    .row .contact-col h1 {
        font-size: 2rem;
    }
    .data, .txt-area {
        width: 63rem;
    }
    .btn {
        margin: 3rem auto;
        width: 30rem;
    }
    .sendDiv {
        width: 100%;
    }
    #sendBtn {
        width: 63rem;
    }
}

@media (max-width: 1024px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .logo {
        width: 3.5rem;
        height: 3rem;
        margin: 1.5rem 0 auto 10rem;
    }
    nav ul li a {
        font-size: 16px;
    }
    .home {
        height: auto;
        margin-top: 0rem;
        width: 85%;
        padding: 7rem 1rem;
    }
    .name-college h1 {
        margin-top: 2rem;
        font-size: 4rem;
    }
    .main-intro {
        width: 90%;
        margin: auto;
        margin-top: -4rem;
    }
    .intro-bio {
        width: 100%;
    }
    .skills h1, .projects h1, .contact h1 {
        padding-top: 1rem;
        font-size: 2rem;
    }
    #headings {
        font-size: 4rem;
    }
    .icons {
        margin-bottom: 3.5rem;
    }
    .icons i {
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }
    .col h1 {
        font-size: 2rem;
    }
    .projects, .contact {
        margin-top: -4rem;
    }
    .proj-box h1 {
        margin-top: 5rem;
    }
    .contact {
        width: 100%;
    }
    .cont-row {
        width: 100%;
    }
    .row .contact-col {
        width: 30rem;
    }
    .row .contact-col h1 {
        font-size: 2rem;
    }
    .data, .txt-area {
        width: 63rem;
    }
    .btn {
        margin: 3rem auto;
        width: 30rem;
    }
    .sendDiv {
        width: 100%;
    }
    #sendBtn {
        width: 63rem;
    }
}
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .logo {
        width: 3.2rem;
        height: 2.5rem;
        margin: 1.5rem 0 auto 5rem;
    }
    nav ul li a {
        font-size: 16px;
    }
    main {
        width: auto;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
    .main-home {
        margin-top: 5rem;
    }
    .name-college h1 {
        margin-top: 2rem;
        font-size: 4rem;
    }
    .main-intro {
        width: 90%;
        margin: auto;
        margin-top: -4rem;
    }
    .intro-bio {
        width: 100%;
    }
    .projects h1 {
        padding-top: 2rem;
    }
    .main-row {
        margin-bottom: -3rem;
    }
    .row .contact-col h1 {
        font-size: 2rem;
    }
    #sendBtn {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-top: 1.5rem;
        margin-right: 0rem;
        z-index: 1;
    }
    .logo {
        width: 3rem;
        height: 2.3rem;
        margin-top: 1.5rem;
        margin-left:0rem;
    }
    .nav-link:hover::before {
        width: 0;
    }
    
    .nav-menu {
        top: 0;
        padding-top: 10rem;
        width: 100%;
        height: 110%;
        position: fixed;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        right: -100%;
        z-index: 1;
        transition: 0.5s ease-in-out;
        background-color: var(--background-color);
    }
    .nav-menu  .nav-links{
        display: flex;
        gap: 50px;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .nav-menu.active {
        right: 0;
    }
    
    .home {
        height: auto;
        width: 95%;
        padding: 7rem 1rem;
    }
    .main-intro {
        width: 100%;
    }
    .main-home .wmu {
        margin-bottom: -3rem;
    }
    .about-me {
        font-size: 3rem;
        cursor: pointer;
        border-radius: 1rem;
        margin-bottom: 12rem;
    }
    .main-home h1 {
        font-size: 3.5rem;
        font-weight: 500;
    }
    .main-home .wmu {
        font-size: 1.6rem;
    }
    .intro-bio {
        width: 100%;
    }
    .skills h1, .projects h1, .contact h1 {
        padding-top: 1rem;
        font-size: 3rem;
    }
    #headings {
        font-size: 4rem;
    }
    .icons {
        margin-bottom: 3.5rem;
    }
    .icons i {
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }
    .col h1 {
        font-size: 2rem;
    }
    .projects {
        margin-top: -4rem;
        width: 80%;
    }
    .proj-box h1 {
        margin-top: 5rem;
    }
    .row .contact-col, .inputBox .data, .inputBox .txt-area, .row .sendDiv #sendBtn {
        width: 40rem;
    }
    .row .contact-col h1 {
        font-size: 2rem;
    } 
}
@media (max-width: 540px) {
    .logo {
        margin: 1.6rem 0 auto -1.5rem;
    }
    .hamburger {
        margin-right: -2rem;
    }
    .main-intro {
        width: 100%;
        margin-top: -12rem;
    }
    .main-home {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .pic-name {
        display: block;
        padding-bottom: 2rem;
    }
    .main-home img {
        width: 15rem;
        height: 15rem;
        margin: auto;
        border-radius: 50%;
        margin-top: 0rem;
        border: 0.3rem solid var(--border-color);
    }
    .main-home img:hover {
        transform: translateY(0px);
    }
    .name-college {
        padding-left: 0px;
    }   
    .name-college {
    margin-bottom: 3rem;
    }
    .name-college h1 {
        margin-top: 1rem;
        font-size: 3.5rem;
        font-weight: bold;
        text-align:center;
    }
    .name-college .wmu {
        font-size: 1.7rem;
        align-items: center;
    }
    .intro-bio {
        width: 100%;
    }
    .btn {
        margin: -1rem auto 3rem auto;
        width: auto;
    }
    .row .contact-col, .inputBox .data, .inputBox .txt-area, .row .sendDiv #sendBtn {
        width: 30rem;
    }
    .sendDiv {
        width: 30rem;
    }
    #sendBtn {
        margin-top: 2rem;
        width: 30rem;
    }
}
/* -----------for cell phones----------- */
@media (max-width: 480px) {
    .home {
        height: 85%;
        width: 90%;
        padding: 7rem 1rem;
    }
    .main-home {
        margin-top: 5rem;
    }
    .main-intro {
        width: 100%;
    }
    .main-home .wmu {
        margin-bottom: -3rem;
    }
    .about-me {
        font-size: 3rem;
        cursor: pointer;
        border-radius: 1rem;
        margin-bottom: 12rem;
    }
    .main-home h1 {
        font-size: 3.5rem;
        font-weight: 500;
    }
    .main-home .wmu {
        font-size: 1.6rem;
    }
    .intro-bio {
        width: 100%;
    }
    .skills h1, .projects h1, .contact h1 {
        padding-top: 1rem;
        font-size: 3rem;
    }
    #headings {
        font-size: 4rem;
    }
    .icons {
        margin-bottom: 3.5rem;
    }
    .icons i {
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }
    .col h1 {
        font-size: 2rem;
    }
    .projects, .contact {
        margin-top: -4rem;
    }
    .row .contact-col h1 {
        font-size: 2rem;
    }
    .btn {
        margin: 3rem auto;
    }
}
