:root {
    --background-color: #081b29;
    --background-light-color:#f9f9f9;
    --border-color: #00abf0;
    --border-hover-color: #5ad0ff;
    --wmu: #F1C500;
    --font-color: #f8f8f8;
    --box-border-color: #5467858d;
    --nav-menu-background: #081b29;
}
.projects, .social-media {
    display: none;
} 
.projects {
    margin-top: -10rem;
}
.about-link {
    color: #00abf0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--font-color);
    scroll-snap-align: smooth;
    font-family: 'Poppins';
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background: var(--background-color);
}

html {
    font-size: 62.5%;
}
p {
    font-size: 1.6rem;
}
/* ================= all heading lines ================= */
.line {
    margin: auto auto;
    margin-top: -4.5rem;
    margin-bottom: 4rem;
    width: 10rem;
    height: 0.01rem;
    background-color: var(--border-color);
}


/* ================= spinner ================= */
.spin-parent {
    background-color: var(--background-light-color);
    width: 100%;
    height: 110%;
    position: fixed;
    display: block;
    text-align: center;
    margin-top: -3rem;
    z-index: 1000000000000;
}
.spin-parent2 {
    position: relative;
    margin: 20rem auto;
    text-align: center;
  }
.spinner {
    margin: auto;
    opacity: 1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border: 2px solid var(--header-color);
    border-bottom: 2px solid var(--wmu);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-text {
    color: black;
    padding-top: 5px;
    font-size: 0.7rem;
}
/* ================= nav bar ================= */
nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding: 3rem;
    display: flex;
    z-index: 10000;
}
.logo {
    width: 3rem;
    height: 2.3rem;
    margin-left: 3rem;
    cursor: pointer;
}
nav ul {
    float: right;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.each-list {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    margin: auto 2rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: var(--border-color);
    transition: 0.5s;
}
.nav-link:hover {
    transform: translateY(-3px);
}
.nav-link:hover::before {
    width: 100%;
}
.nav-link:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
}
.hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--font-color);
    transition: all 0.5s ease-in-out;
}
.hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform:  translateY(-10px) rotate(-45deg);
}
/* =================  Home section ================= */
#home {
    height: auto;
    overflow-y: auto;
    width: 100%;
    margin: auto;
}
::-webkit-scrollbar { /* hide the scroll-bar */
    display: none;
}

.main-home {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pic-name {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-bottom: 4rem;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: .1px solid var(--box-border-color);
}
.main-home img {
    width: 16.5rem;
    height: 17rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.2rem solid var(--font-color);
}
.name-college {
    order: 1;
}
.profile-pic {
    order: 2;
}
.name-college h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align:left;
}
.name-college h1, .name-college p {
    margin: 0;
}
span {
    color: var(--border-color);
    font-weight: 600;
}
#wmu {
    color: var(--wmu);
}
/* social media links */
/* parent div */
.links-div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: -5rem;
}
/* each link div */
.links-div .each-link {
    width: 15rem;
    height: 15rem;
    border: 0.2rem solid var(--box-border-color);
    border-radius: 0.7rem;
    transition: transform 0.3s ease;
}
.links-div .each-link:hover {
    transform: translateY(-5px);
}
#ic {
    color: var(--font-color);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 7rem;
}
.each-link .url .sub {
    font-size: 1.6rem;
}
#network-line {
    margin-top: 0.1rem;
}
.about-me {
    font-size: 3rem;
    cursor: pointer;
    border-radius: 1rem;
}
.intro-bio {
    line-height: 3.5rem;
    font-weight: 100;
    width: 80%;
    margin: 4rem auto auto auto;
    text-align: justify;
}
.btn {
    width: auto;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    margin: 3rem auto;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--border-color);
}
.btn:hover{
    background-color: var(--border-hover-color);
}
/* ================= skills section styling ================= */
.skills {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
.skills h1, .projects h1 {
    font-size: 2rem;
    margin-bottom: 5rem;
    padding: 1rem auto;
    text-align: center;
}
#headings {
    font-size: 5rem;
    text-align: center;
}
.icons {
    text-align: center;
    font-size: 7rem;
}
.row {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.col {
    display: inline-block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 0.5rem 1rem;
    width: 14rem;
    height: 14rem;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid var(--box-border-color);
    border-radius: 0.5rem;
    background-color: transparent;
    transition: transform 0.3s ease;
}
.col:hover {
    transform: translateY(-10px);
}
.col h1 {
    margin-top:-10px;
}

/* ================= projects section styling =================  */
.projects {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.proj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}
.proj-container .proj-box {
    width: 33rem;
    height: auto;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--box-border-color);
}
.proj-box img {
    width: 31.5rem;
    height: 20rem;
    margin-top: 0.6rem;
    border-radius: 5px;
}
.proj-box h1 {
    font-size: 2rem;
    width: 90%;
    margin: 1.5rem auto;
    text-align: left;
}
.proj-box .ul-div {
    width: 90%;
    font-size: 12px;
    margin: 1rem 20px;
    text-align: left;
    padding-bottom: 2rem;
}
.skills-used h2 {
    text-align: left;
    padding-left: 2rem;

}
.skills-used ul {
    padding-left: 4rem;
    text-align: left;
    padding-bottom: 2rem;
}

/* ##################################### */
/* ---------responsive styling---------- */
/* ##################################### */
@media (max-width: 1280px) {
    .home {
        height: auto;
        margin-top: 0rem;
        width: 80%;
        padding: 7rem 1rem;
    }
    .name-college h1 {
        margin-top: 2rem;
        font-size: 4rem;
    }
    .main-intro {
        width: 80%;
        margin: auto;
        margin-top: -4rem;
    }
    .intro-bio {
        width: 100%;
    }
    .skills {
        width: 100%;
    }
    .btn {
        margin: 5rem auto;
        width: 38rem;
    }   
}

@media (max-width: 1024px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .logo {
        width: 3.5rem;
        height: 3rem;
        margin: 1.5rem 0 auto 10rem;
    }
    nav ul li a {
        font-size: 16px;
    }
    .home {
        height: auto;
        margin-top: 0px;
        padding: 7rem 1rem;
    }
    .name-college h1 {
        margin-top: 2rem;
        font-size: 4rem;
    }
    .main-intro {
        margin: auto;
        margin-top: -4rem;
    }
    .skills h1, .projects h1 {
        padding-top: 1rem;
        font-size: 2rem;
    }
    #headings {
        font-size: 4rem;
    }
    .btn {
        margin: 3rem auto;
        width: 30rem;
    }
    .proj-box p {
        padding-bottom: 1rem;
    }
}
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .logo {
        width: 3.2rem;
        height: 2.5rem;
        margin: 1.5rem 0 auto 5rem;
    }
    nav ul li a {
        font-size: 16px;
    }
    main {
        width: auto;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
    .main-home {
        margin-top: 5rem;
    }
    .name-college h1 {
        margin-top: 2rem;
        font-size: 4rem;
    }
    .main-intro {
        width: 90%;
        margin: auto;
        margin-top: -4rem;
    }
    .proj-box h1 {
        font-size: 3rem;
        margin: 1rem auto;
        text-align: left;
    }
    .proj-box p {
        width: 90%;
        font-size: 1.6rem;
        margin: 1rem auto;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-top: 1.5rem;
        margin-right: 0rem;
        z-index: 1;
    }
    .logo {
        width: 3rem;
        height: 2.3rem;
        margin-top: 1.5rem;
        margin-left:0rem;
    }
    .nav-link:hover::before {
        width: 0;
    }
    
    .nav-menu {
        top: 0;
        padding-top: 10rem;
        width: 100%;
        height: 110%;
        position: fixed;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        right: -100%;
        z-index: 1;
        transition: 0.5s ease-in-out;
        background-color: var(--background-color);
    }
    .nav-menu  .nav-links{
        display: flex;
        gap: 50px;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .nav-menu.active {
        right: 0;
    }
    
    .home {
        height: auto;
        width: 90%;
        padding: 7rem 1rem;
    }
    .main-intro {
        width: 100%;
    }
    .main-home .wmu {
        margin-bottom: -3rem;
    }
    .main-home .wmu2 {
        margin-top: 3rem;
    }
    .pic-name {
        width: 90%;
        padding-bottom: 0px;
        flex-direction: column;
    }
    .profile-pic {
        order: 1;
    }
    .name-college {
        order: 2;
        margin-bottom: 3rem;
    }   
    .name-college h1 {
        text-align:center;
    }
    .main-home .wmu {
        margin-bottom: -3rem;
    }
    .main-home .wmu2 {
        margin-top: 3rem;
    }
    .intro-bio {
        width: 90%;
        margin-top: 12px;
    }   
}
@media (max-width: 540px) {
    .logo {
        margin: 1.6rem 0 auto -1.5rem;
    }
    .hamburger {
        margin-right: -2rem;
    }
    .main-intro {
        margin-top: -12rem;
    }
}
/* -----------for cell phones----------- */
@media (max-width: 480px) {
    .home {
        width: 100%;
        padding-top: 7rem;
    }
    #headings {
        font-size: 4rem;
    }   
    .skills {
        width: 100%;
    }
    .projects {
        margin-top: -5rem;
    }
    .projects .proj-box {
        height: auto;
    }
    .projects .proj-box h1 {
        font-size: 24px;
    }
}
